@{
    ViewData["Title"] = "New Feature";
}

<div class="container mt-4 text-center">
    <h2>@ViewData["Title"]</h2>

    <img src="~/images/newfeature.jpg" alt="New Feature" class="img-fluid rounded shadow mt-3" />
</div>
